<div fxFlex class="dark-style"
fxLayout="column">
<mat-card class="spo2-format" style="background: rgb(0, 0, 0)"
    fxFill
    fxLayout="column"
    fxLayoutAlign="space-around stretch">
    
    <div 
        fxFlex 
        fxLayout="column" 
        fxLayoutAlign="space-around stretch"
        fxLayoutGap="5px" style="background: rgb(0, 0, 0)"
        fxFill>
        <div fxFlex>
            <mat-card-title class="dark-style">Oxygen Saturation</mat-card-title>
        </div>
        <div fxFlex>
            <div  
                fxLayout="row"
                fxLayoutAlign="space-around stretch"
                fxFlex>
            <div fxFlex="25" class="metric-name" >SPO2</div>
            <div fxFlex="50" class="metric-value">99</div>
            <div fxFlex="25" class="metric-unit">%</div>
          </div>
        </div>

        <div fxFlex>
            <div  
                fxLayout="row"   
                fxLayoutAlign="space-around stretch"
                fxFlex>
            <div fxFlex="25" class="metric-name" >Pulse</div>
            <div fxFlex="50" class="metric-value">72</div>
            <div fxFlex="25" class="metric-unit">bpm</div>
          </div>
        </div>
        <div fxFlex="15%">
            <mat-card-actions>
                <p class="status-line">Status Line - The sensor status goes here</p>
              </mat-card-actions>
        </div>

    </div>



</mat-card>
</div>